:root {
    --primary-blue: hsl(233, 26%, 24%);
    --primary-green: hsl(136, 65%, 51%);
    --primary-cyan: hsl(192, 70%, 51%);

    --neutral-blue: hsl(233, 8%, 62%);
    --neutral-light-blue: hsl(220, 16%, 96%);
    --neutral-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

    --font-size: 1.125rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Public Sans', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    /* padding: 0 3rem; */
}

h1,
h2,
h3,
h4,
h5 {
    color: hsl(233, 26%, 24%);
    margin: 1.5rem 0;
}
h4 {
    font-weight: 400;
}
p {
    color: var(--neutral-blue);
    margin-bottom: 1em;
}
a {
    text-decoration: none;
}
.center {
    text-align: center;
}
.pos__center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section,
header {
    margin-bottom: 2rem;
}
.section,
.footer {
    transition: transform 1s, opacity 1s;
}
img {
    display: block;
    max-width: 100%;
}

.header__title {
    margin-bottom: 2rem;
    background-color: #fafafa;
}

.header__header {
    text-align: center;
    font-weight: 400;
}

.header__img {
    background-size: cover;
    background-repeat: no-repeat;
}
.header__img:first-child {
    background-image: url(images/bg-intro-mobile.svg);
}
.content-wrapper {
    padding: 0 2rem;
}
.header__article {
    text-align: center;
    line-height: 1.6;
}
.logo {
    width: 100%;
}

.button__request {
    color: var(--white);
    background-image: linear-gradient(90deg, var(--primary-green), var(--primary-cyan));
    padding: 1rem 2rem;
    border: 0;
    border-radius: 100px;
    font-weight: 700;
    position: relative;
    margin: 2rem 0;
}

.card__icon {
    text-align: center;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card__header {
    margin: 2rem 0;
    font-size: 1.2rem;
}
.card__article {
    max-width: 90%;
    line-height: 1.6;
}
#section--1 {
    background-color: var(--neutral-gray);
    padding: 0 2rem;
}

.grid {
    padding: 0 2rem;
}

.grid__p {
    margin: 0 auto;
    max-width: 80%;
}
.sec__img {
    border-radius: 4px;
    margin-bottom: 1rem;
}
.sec__header {
    text-align: center;
}
.grid__article {
    margin-bottom: 3rem;
}

.footer {
    background-color: var(--primary-blue);
    text-align: center;
    padding: 2rem;
}
.footer__link {
    color: var(--white);
}
.footer__item {
    list-style: none;
    margin: 1rem 0;
    font-size: var(--font-size);
}

.footer__logo {
    margin: 1rem 0;
    color: var(--white);
}
.social__icons {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 1.5rem;
}
.social__icons img:not(:first-child) {
    margin-left: 1rem;
}
/* navbar */
.hamburger {
    display: block;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 1.5em 1.2em;
    /* border: 2px outset red; */
    z-index: 100;
    width: 100%;
    position: relative;
}
/* .navbar__line {
  width: 100%;
  background-color: #777;
  height: 2px;
  position: absolute;
  bottom: 0;
  box-shadow: 0 15px 40px;
} */

.nav.sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
    max-width: 100%;
}

.nav__item {
    list-style: none;
    margin-bottom: 1rem;
}
.nav__link {
    text-decoration: none;
    color: var(--neutral-blue);
}

.nav__links {
    position: fixed;
    top: -100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 100%;
    text-align: center;
    transition: 0.5s;
    padding: 1rem 2rem;
    background-color: var(--white);
}
.nav__links.active {
    top: 12.5rem;
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(235, 227, 227, 0.6);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    z-index: -100;
    transition: 0.5s;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}
.none {
    display: none;
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}
.section--hidden {
    opacity: 0;
    transform: translateY(8rem);
}

/* media queries */

@media (min-width: 768px) {
    body {
        display: grid;
    }
    h1,
    h2,
    h3,
    h4 {
        text-align: left;
    }
    .hamburger {
        display: none;
    }
    .container {
        max-width: 2000px;
    }
    .nav {
        padding: 2rem;
        align-items: center;
    }
    .nav__links {
        position: absolute;
        top: 2.5rem;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        width: 55%;
    }

    .nav ul li a {
        position: relative;
    }
    .nav ul li a::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        margin: auto;
        content: '.';
        color: transparent;
        background: var(--primary-green);
        height: 3px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 500ms ease;
    }
    .nav ul li a:hover:after {
        transform: scaleX(1);
    }
    .nav ul li a:hover {
        color: var(--primary-blue);
    }
    .nav__item {
        list-style: none;
        margin: 0;
    }
    .nav__item + .nav__item {
        /* margin: 0.5em; */
    }
    .nav__link {
        padding: 1rem;
    }
    .button__request-f {
        margin-left: auto;
        transform: translateX(5rem);
    }

    .button__request:hover {
        background: linear-gradient(210deg, var(--primary-green), var(--primary-cyan));
        transition: transformation 500ms;
    }
    .header__title {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }

    .content-wrapper {
        grid-row: 1/3;
        /* margin-left: 3rem; */
    }
    .header__header {
        font-size: 2.7rem;
    }

    .header__img {
    }
    .header__img:first-child {
        background-image: url(images/bg-intro-desktop.svg);
        background-size: cover;
    }
    .header__article,
    .header__header {
        text-align: left;
    }
    .max__width {
        max-width: 70%;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }
    .grid {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4, 1fr);
    }
    .grid__article {
        box-shadow: 2px 2px 2px 2px rgb(255, 249, 249);
        border-radius: 7px;
        background-color: rgb(255, 255, 255);
    }
    .grid__article:hover,
    .grid__article:focus {
        box-shadow: 8px 8px 8px 8px rgb(233, 225, 225);
        transition: shadow ease 1000ms;
    }
    .grid__p {
        margin: 0 auto;
        max-width: 85%;
    }
    .footer {
        display: grid;
        text-align: left;
        /* place-items: center; */
        grid-template-columns: repeat(3, 1fr);
        padding: 2em 0;
    }

    .footer__nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 1 /2;
    }
    .footer__link {
        font-size: 1rem;
    }
    .footer__item {
        margin: 0.3rem;
    }
    .footer__logo {
        margin: 0;
    }

    .grid-1 {
        place-self: center;
    }
    .grid-2 {
        place-self: center;
    }
    .grid-3 {
        place-self: center;
    }

    .sec__flex {
        text-align: left;
    }
    .sec__header {
        text-align: left;
        font-size: 2rem;
        font-weight: 400;
    }
    .sec__header-2 {
        padding: 0 2rem;
    }
    .card__icon {
        text-align: left;
        display: block;
    }
    .card__article {
        max-width: 100%;
    }
}

/* Big screens */
@media (min-width: 1440px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }
    .card__article {
        max-width: 70%;
    }
    .grid__article {
        max-width: 75%;
    }
    .content-wrapper {
        max-width: 93%;
        margin: 0 auto;
    }
    .header__wrapper {
        padding-left: 7rem;
    }
    .header__title {
    }
    .header__header {
        font-size: 3.5rem;
    }
    .header__img {
        margin: 0;
        max-width: 70%;
        place-self: end;
    }
    .sec__header {
        font-size: 2.5rem;
    }
    .max__width {
        max-width: 35%;
    }
    .nav {
        max-width: 110rem;
        margin: 0 auto;
    }
    .nav__links {
        max-width: 30%;
    }
}

/* navbar */
